# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [4]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

In [3]:
data_set_url="https://github.com/pradipsapkotag/python/blob/pandas/Assignment1/10_Deleting/Iris/iris.csv"

### Step 3. Assign it to a variable called iris

In [8]:
iris = pd.read_csv('iris.data')
iris

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

### Step 4. Create columns for the dataset

In [11]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class
iris.columns = ["sepal_length (in cm)", 'sepal_width (in cm)', 'petal_length (in cm)', 'petal_width (in cm)', 'class']

In [12]:
iris

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm),class
0,4.9,3.0,1.4,0.2,Iris-setosa
1,4.7,3.2,1.3,0.2,Iris-setosa
2,4.6,3.1,1.5,0.2,Iris-setosa
3,5.0,3.6,1.4,0.2,Iris-setosa
4,5.4,3.9,1.7,0.4,Iris-setosa
...,...,...,...,...,...
144,6.7,3.0,5.2,2.3,Iris-virginica
145,6.3,2.5,5.0,1.9,Iris-virginica
146,6.5,3.0,5.2,2.0,Iris-virginica
147,6.2,3.4,5.4,2.3,Iris-virginica
148,5.9,3.0,5.1,1.8,Iris-virginica

### Step 5.  Is there any missing value in the dataframe?

In [15]:
iris.isna()
# iris.isnull().sum

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm),class
0,False,False,False,False,False
1,False,False,False,False,False
2,False,False,False,False,False
3,False,False,False,False,False
4,False,False,False,False,False
...,...,...,...,...,...
144,False,False,False,False,False
145,False,False,False,False,False
146,False,False,False,False,False
147,False,False,False,False,False
148,False,False,False,False,False

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [17]:
iris.loc[10:29,'petal_length (in cm)':]

    petal_length (in cm)  petal_width (in cm)        class
10                   1.6                  0.2  Iris-setosa
11                   1.4                  0.1  Iris-setosa
12                   1.1                  0.1  Iris-setosa
13                   1.2                  0.2  Iris-setosa
14                   1.5                  0.4  Iris-setosa
15                   1.3                  0.4  Iris-setosa
16                   1.4                  0.3  Iris-setosa
17                   1.7                  0.3  Iris-setosa
18                   1.5                  0.3  Iris-setosa
19                   1.7                  0.2  Iris-setosa
20                   1.5                  0.4  Iris-setosa
21                   1.0                  0.2  Iris-setosa
22                   1.7                  0.5  Iris-setosa
23                   1.9                  0.2  Iris-setosa
24                   1.6                  0.2  Iris-setosa
25                   1.6                  0.4  Iris-setosa
26                   1.5                  0.2  Iris-setosa
27                   1.4                  0.2  Iris-setosa
28                   1.6                  0.2  Iris-setosa
29                   1.6                  0.2  Iris-setosa

### Step 7. Good, now lets substitute the NaN values to 1.0

In [18]:
iris = iris.replace(np.nan, 1.0)

In [20]:
iris.loc[1:40]
# iris

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm),class
1,4.7,3.2,1.3,0.2,Iris-setosa
2,4.6,3.1,1.5,0.2,Iris-setosa
3,5.0,3.6,1.4,0.2,Iris-setosa
4,5.4,3.9,1.7,0.4,Iris-setosa
5,4.6,3.4,1.4,0.3,Iris-setosa
6,5.0,3.4,1.5,0.2,Iris-setosa
7,4.4,2.9,1.4,0.2,Iris-setosa
8,4.9,3.1,1.5,0.1,Iris-setosa
9,5.4,3.7,1.5,0.2,Iris-setosa
10,4.8,3.4,1.6,0.2,Iris-setosa
11,4.8,3.0,1.4,0.1,Iris-setosa
12,4.3,3.0,1.1,0.1,Iris-setosa
13,5.8,4.0,1.2,0.2,Iris-setosa
14,5.7,4.4,1.5,0.4,Iris-setosa
15,5.4,3.9,1.3,0.4,Iris-setosa
16,5.1,3.5,1.4,0.3,Iris-setosa
17,5.7,3.8,1.7,0.3,Iris-setosa
18,5.1,3.8,1.5,0.3,Iris-setosa
19,5.4,3.4,1.7,0.2,Iris-setosa
20,5.1,3.7,1.5,0.4,Iris-setosa
21,4.6,3.6,1.0,0.2,Iris-setosa
22,5.1,3.3,1.7,0.5,Iris-setosa
23,4.8,3.4,1.9,0.2,Iris-setosa
24,5.0,3.0,1.6,0.2,Iris-setosa
25,5.0,3.4,1.6,0.4,Iris-setosa
26,5.2,3.5,1.5,0.2,Iris-setosa
27,5.2,3.4,1.4,0.2,Iris-setosa
28,4.7,3.2,1.6,0.2,Iris-setosa
29,4.8,3.1,1.6,0.2,Iris-setosa
30,5.4,3.4,1.5,0.4,Iris-setosa
31,5.2,4.1,1.5,0.1,Iris-setosa
32,5.5,4.2,1.4,0.2,Iris-setosa
33,4.9,3.1,1.5,0.1,Iris-setosa
34,5.0,3.2,1.2,0.2,Iris-setosa
35,5.5,3.5,1.3,0.2,Iris-setosa
36,4.9,3.1,1.5,0.1,Iris-setosa
37,4.4,3.0,1.3,0.2,Iris-setosa
38,5.1,3.4,1.5,0.2,Iris-setosa
39,5.0,3.5,1.3,0.3,Iris-setosa
40,4.5,2.3,1.3,0.3,Iris-setosa

### Step 8. Now let's delete the column class

In [22]:
iris = iris.drop(columns ='class')

In [23]:
iris

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,4.9,3.0,1.4,0.2
1,4.7,3.2,1.3,0.2
2,4.6,3.1,1.5,0.2
3,5.0,3.6,1.4,0.2
4,5.4,3.9,1.7,0.4
...,...,...,...,...
144,6.7,3.0,5.2,2.3
145,6.3,2.5,5.0,1.9
146,6.5,3.0,5.2,2.0
147,6.2,3.4,5.4,2.3
148,5.9,3.0,5.1,1.8

### Step 9.  Set the first 3 rows as NaN

In [24]:
iris.iloc[:3] = np.nan

In [26]:
iris.head()

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,5.0,3.6,1.4,0.2
4,5.4,3.9,1.7,0.4

### Step 10.  Delete the rows that have NaN

In [27]:
iris = iris.dropna(axis=0)

In [28]:
iris.head(10)

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
3,5.0,3.6,1.4,0.2
4,5.4,3.9,1.7,0.4
5,4.6,3.4,1.4,0.3
6,5.0,3.4,1.5,0.2
7,4.4,2.9,1.4,0.2
8,4.9,3.1,1.5,0.1
9,5.4,3.7,1.5,0.2
10,4.8,3.4,1.6,0.2
11,4.8,3.0,1.4,0.1
12,4.3,3.0,1.1,0.1

### Step 11. Reset the index so it begins with 0 again

In [29]:
iris.reset_index(drop = True, inplace = True)
iris

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,5.0,3.6,1.4,0.2
1,5.4,3.9,1.7,0.4
2,4.6,3.4,1.4,0.3
3,5.0,3.4,1.5,0.2
4,4.4,2.9,1.4,0.2
...,...,...,...,...
141,6.7,3.0,5.2,2.3
142,6.3,2.5,5.0,1.9
143,6.5,3.0,5.2,2.0
144,6.2,3.4,5.4,2.3
145,5.9,3.0,5.1,1.8

### BONUS: Create your own question and answer it.

In [32]:
iris = iris.drop(columns ='''petal_width (in cm)''')
iris

     sepal_length (in cm)  sepal_width (in cm)  petal_length (in cm)
0                     5.0                  3.6                   1.4
1                     5.4                  3.9                   1.7
2                     4.6                  3.4                   1.4
3                     5.0                  3.4                   1.5
4                     4.4                  2.9                   1.4
..                    ...                  ...                   ...
141                   6.7                  3.0                   5.2
142                   6.3                  2.5                   5.0
143                   6.5                  3.0                   5.2
144                   6.2                  3.4                   5.4
145                   5.9                  3.0                   5.1

[146 rows x 3 columns]